body {
    font-family: sans-serif;
    background-color: #d2c0e0;
}

.gridbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-left: 20vw;
}

.heading {
    font-size: 30px;
    margin: 20px;
    color: #551a8b;
    font-weight: bold;
}

.info {
    font-size: 20px;
    margin: 10px;
    color: #000000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    font-weight: bold;
}

.sidebar a:link {
    display: block;
    margin: 20px;
    color: #551a8b;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top {
    font-size: 48px;
}

img {
    max-width: 500px;
}

.info a{
    color: #000000;
    font-weight: bold;
}


.caption {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.question {
    font-style: italic;
}

.answer {
    margin-bottom: 25px;
}
