body {
    font-family: sans-serif;
    background-color: #d2c0e0;
}

.gridbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: auto;
}

.heading {
    font-size: 30px;
    margin: 20px;
    color: #551a8b;
    font-weight: bold;
    text-align: center;
}

.info {
    font-size: 20px;
    margin: 10px;
    color: #000000;
    text-align: center;
}

.lots-info {
    text-align: left;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    font-weight: bold;
}

.sidebar a:link {
    display: block;
    margin: 15px;
    color: #551a8b;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top {
    font-size: 48px;
}

img {
    max-width: 500px;
}

.info a{
    color: #000000;
    font-weight: bold;
}


.caption {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.qna-box {
    width: 600px;
}

.question {
    font-style: italic;
    text-align: left;
}

.answer {
    margin-bottom: 25px;
    text-align: right;
}

.imgbox {
    display: flex;
}

.imgbox img {
    max-width: 300px;
}

.wider-pic {
    max-width: 700px;
}

@media (max-width: 1000px) {
    .sidebar {
	display: none;
    }

    .gridbox {
	width: 90vw;
    }

    img {
	max-width: 60vw;
    }

    .imgbox img {
	max-width: 45vw;
    }

    .wider-pic {
	max-width: 85vw;
    }

    .qna-box {
	max-width: 90vw;
    }
}
